In [41]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib as plt
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [42]:
df=pd.read_csv("Fraud.csv")

In [43]:
df[df.isFraud=='1']

Empty DataFrame
Columns: [step, type, amount, nameOrig, oldbalanceOrg, newbalanceOrig, nameDest, oldbalanceDest, newbalanceDest, isFraud, isFlaggedFraud]
Index: []

In [44]:
#FINDING THE UNIQUE VALUES IN nameOrig COLUMN
df.nameOrig.unique()

array(['C1231006815', 'C1666544295', 'C1305486145', ..., 'C1162922333',
       'C1685995037', 'C1280323807'], dtype=object)

In [45]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [46]:
#FINDING THE UNIQUE VALUES IN nameDest COLUMN
df.nameDest.unique()

array(['M1979787155', 'M2044282225', 'C553264065', ..., 'C1850423904',
       'C1881841831', 'C2080388513'], dtype=object)

In [47]:
#FINDING THE UNIQUE VALUES IN type COLUMN
df.type.unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [48]:
#ENCODING TYPE COLUMN
df.replace({'type':{'CASH_OUT':0, 'PAYMENT':1,'CASH_IN':2,'TRANSFER':3,'DEBIT':4,}},inplace=True)

In [49]:
#FINDING NA VALUES IN newbalanceOrig COLUMN
df.newbalanceOrig.isna().value_counts()

False    6362620
Name: newbalanceOrig, dtype: int64

In [50]:
#The apply() function applies the lambda function to each element in the specified column, 
#and lstrip() removes the leading "C" from the string.
#The modified DataFrame is then written to the same csv file.

df['nameOrig'] = df['nameOrig'].apply(lambda x: x.lstrip('C'))
df.to_csv('your_file.csv',index=False)

In [51]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,1,9839.64,1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,1,1864.28,1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,3,181.00,1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,0,181.00,840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,1,11668.14,2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,0,339682.13,786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,3,6311409.28,1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,0,6311409.28,1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,3,850002.52,1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,0,850002.52,1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [52]:
#The apply() function applies the lambda function to each element in the specified column, 
#and lstrip() removes the leading "C" from the string.
#The modified DataFrame is then written to the same csv file.

df['nameDest'] = df['nameDest'].apply(lambda x: x.lstrip('C'))
df.to_csv('your_file.csv',index=False)

In [53]:
#The apply() function applies the lambda function to each element in the specified column, 
#and lstrip() removes the leading "C" from the string.
#The modified DataFrame is then written to the same csv file.
df['nameDest'] = df['nameDest'].apply(lambda x: x.lstrip('M'))
df.to_csv('your_file.csv',index=False)

In [54]:
#Spliting the features AS FIRST NINE FEATURES IN X AND LAST TWO TARGETS IN Y

x=df.drop(columns=['isFraud'], axis=1)

y=df[['isFraud']]

In [55]:
y

         isFraud
0              0
1              0
2              1
3              1
4              0
...          ...
6362615        1
6362616        1
6362617        1
6362618        1
6362619        1

[6362620 rows x 1 columns]

In [56]:
x

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFlaggedFraud
0,1,1,9839.64,1231006815,170136.00,160296.36,1979787155,0.00,0.00,0
1,1,1,1864.28,1666544295,21249.00,19384.72,2044282225,0.00,0.00,0
2,1,3,181.00,1305486145,181.00,0.00,553264065,0.00,0.00,0
3,1,0,181.00,840083671,181.00,0.00,38997010,21182.00,0.00,0
4,1,1,11668.14,2048537720,41554.00,29885.86,1230701703,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
6362615,743,0,339682.13,786484425,339682.13,0.00,776919290,0.00,339682.13,0
6362616,743,3,6311409.28,1529008245,6311409.28,0.00,1881841831,0.00,0.00,0
6362617,743,0,6311409.28,1162922333,6311409.28,0.00,1365125890,68488.84,6379898.11,0
6362618,743,3,850002.52,1685995037,850002.52,0.00,2080388513,0.00,0.00,0
6362619,743,0,850002.52,1280323807,850002.52,0.00,873221189,6510099.11,7360101.63,0

In [57]:
#Training & Testing Data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [58]:
print(x.shape,x_train.shape,x_test.shape)

(6362620, 10) (5090096, 10) (1272524, 10)

In [59]:
model = LogisticRegression()

In [60]:
model.fit(x_train,y_train)

/Users/harikrishnan/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/harikrishnan/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [61]:
#training data prediction
training_data_prediction=model.predict(x_train)

In [62]:
#R_squared Value
r2_train = metrics.r2_score(y_train,training_data_prediction)

In [76]:
print(r2_train)

0.13177174555619386

In [77]:
test_data_prediction=model.predict(x_test)

In [78]:
r2_test = metrics.r2_score(y_test,test_data_prediction)

In [79]:
print(r2_test)

0.10769678065727628

In [80]:
#Building a predictive system

input_data=(743,0,339682.13,786484425,339682.13,0.00,776919290,0.00,339682.13,0)

In [81]:
input_data_array = np.array(input_data)

In [82]:
input_data_reshaped=input_data_array.reshape(1,-1)

In [83]:
prediction =model.predict(input_data_reshaped)
print(prediction)

[0]

/Users/harikrishnan/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [84]:
print('FINANCIAL TRANSACTION IS  ',prediction[0])

FINANCIAL TRANSACTION IS   0